.blue-form {
    background-color: var(--new-blue);
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: var(--new-blue);
    padding: var(--spacing-l) var(--spacing-xxl);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blue-form .landing-wrapper {
    width: 100%;
}

.blue-form .form-demo-header {
    padding: var(--spacing-xs);
}

.blue-form .form-privacy {
    width: 70%;
    padding-top: var(--spacing-xxs);
    font-size: var(--fontSize-p-xs);
}

.blue-form label {
    font-size: var(--fontSize-p-s);

}

.blue-form .flex-left h1,
.blue-form .flex-left h2 {
    margin-bottom: var(--spacing-xs);
}

.blue h1,
.blue h2 {
    margin-bottom: var(--spacing-xs);
}

.blue h1,
.blue h2,
.blue p {
    color: var(--black);
}

.blue p {
    max-width: 800px;
}

@media only screen and (max-width: 1470px) {


    .blue-form .landing-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .blue {
        padding: var(--spacing-m);
    }
}

@media only screen and (max-width: 1200px) {
    .blue-form .form-demo-header {
        margin-top: var(--spacing-xs);
    }
}


@media only screen and (max-width: 700px) {
    .blue {
        padding: var(--spacing-m) var(--spacing-xs);
    }

    .blue-form .landing-wrapper {
        width: 90%;
    }


}