.blue {
    background-color: var(--dark-blue);
    padding: var(--spacing-l) var(--spacing-xxl);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blue h1,
.blue h2 {
    margin-bottom: var(--spacing-xs);
}

.blue h1,
.blue h2,
.blue p {
    color: var(--white);
}

.blue p {
    max-width: 800px;
}

@media only screen and (max-width: 1200px) {
    .blue {
        padding: var(--spacing-m);
    }
}

@media only screen and (max-width: 600px) {
    .blue {
        padding: var(--spacing-m) var(--spacing-xs);
    }
}