section.cta {
    text-align: center;
    line-height: 0;
    overflow: hidden;
    width: 100%;
}

section.cta-no-margin {
    margin: 0;
}

section.cta img {
    position: relative;
    top: 2px;
}

section.cta .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    line-height: var(--lineHeight);
    padding: var(--spacing-m) var(--spacing-xl);
}

section.cta .content p {
    max-width: 800px;
    margin: var(--spacing-xs) 0;
    color: var(--black)
}

/* -------------------------------------------------------- MOBILE */

@media only screen and (max-width: 768px) {
    section.cta .content {
        padding: var(--spacing-s);
    }
}