.grey {
    background-color: var(--light-grey);
    padding: var(--spacing-m) var(--spacing-xxl);
    text-align: center;
}

.grey h1, .grey h2 {
    margin-bottom: var(--spacing-xs);
}

@media only screen and (max-width: 1200px) {
    .grey {
        padding: var(--spacing-s);
    }
}