.grey-top{
    margin-top: 0;
    padding-top: 0;
    background-color: var(--light-grey);
    text-align: center;
}

.grey {
    background-color: var(--light-grey);
    text-align: center;
}

.grey-inside {
    padding: var(--spacing-m) var(--spacing-l);
}

.grey h1,
.grey h2 {
    margin-bottom: var(--spacing-xs);
}

@media only screen and (max-width: 1200px) {
    .grey-inside {
        padding: var(--spacing-s);
    }
}

@media only screen and (max-width: 600px) {
    .grey-inside {
        padding: var(--spacing-xs);
        
    }

    .grey-bottom{
        padding-bottom: var(--spacing-s);;
    }
}