.icon-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: var(--spacing-s);
    margin-top: var(--spacing-s);
    list-style-type: none;
}

.icon-item img {
    height: var(--spacing-m);
    margin-bottom: var(--spacing-xs);
}

@media only screen and (max-width: 768px) {
    .icon-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-xs);
    }

    .icon-item img {
        height: var(--spacing-s);
        margin-bottom: var(--spacing-xxs);
    }
}