.large {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
}

.medium {
    padding-left: var(--spacing-xxl);
    padding-right: var(--spacing-xxl);
}

.small {
    padding-left: var(--spacing-xxl);
    padding-right: var(--spacing-xxl);
}

.imagetext {
    display: flex;
}

.heading {
    padding-bottom: var(--spacing-xs);
}

.paragraph {
    padding-bottom: var(--spacing-xs)
}

.info-imagetext {
    margin: auto;
    width: 85%;
}

.imagetext img {
    height: 100%;
}

.imagetext.large img {
    width: 58%;
}

.imagetext.medium img {
    width: 40%;
}

.imagetext.small img {
    width: 40%;
}

.rowreverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {

    .imagetext img {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .large,
    .medium {
        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);
    }

    .imagetext {
        display: block;
    }

    .imagetext.large img,
    .imagetext.medium img {
        width: 100%;
    }

    .info-imagetext {
        margin-bottom: var(--spacing-xs);
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .large,
    .medium,
    .small {
        padding-left: var(--spacing-m);
        padding-right: var(--spacing-m);
    }

}

@media screen and (max-width: 600px) {

    .large,
    .medium,
    .small {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
    }

    .info-imagetext {
        text-align: center;
    }

}