.hero {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    display: flex;
}

.heading {
    padding-bottom: var(--spacing-xs);
}

.paragraph {
    padding-bottom: var(--spacing-xs)
}

.info-hero {
    width: 80%;
}

.image-hero {
    width: 130%;
}

.img-imagetext {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .hero {
        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);
        display: block;
    }

    .image-hero {
        width: 100%;
    }

    .info-hero {
        padding-bottom: var(--spacing-xs);
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .hero {
        padding-left: var(--spacing-m);
        padding-right: var(--spacing-m);
    }
}

@media screen and (max-width: 600px) {
    .hero {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
    }

    .info-hero {
        text-align: center;
    }

}