main .questions_answers {
  text-align: center;
}

.questions_answers {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.questions_answers .search-wrapper {
  display: flex;
}

.blue .posts_found {
  max-width: initial;
}

.questions_answers .input {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  padding: var(--spacing-xxs) var(--spacing-xs);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 750px;
  background: var(--white);
  margin-bottom: var(--spacing-xxs);
}

.questions_answers .input input {
  padding: var(--spacing-xxs) 0;
}

.questions_answers .filter {
  /* margin: var(--spacing-s) auto; */
  text-align: left;
  /* display: flex;
  align-items: center; */
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.countries-filter {
  margin-top: var(--spacing-xs);
}

.questions_answers-content button,
.filter-tags a {
  margin-right: var(--spacing-xs);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  color: var(--black);
  text-align: left;
  font-size: var(--fontSize-p);
  width: max-content;
  text-decoration: underline;
  white-space: pre;
}

.questions_answers-content .show-more-btn {
  text-decoration: underline;
  width: max-content;
  font-weight: var(--fontWeight-bold);
  padding: 0 0 0 var(--spacing-s);
}

.questions_answers-content button:hover,
.filter-tags a:hover {
  box-sizing: border-box;
  /* border: 2px solid var(--dark-blue); */
  color: var(--dark-blue);
  text-decoration: none;
  cursor: pointer;
}

.filter-tags a::before {
  display: none;
}

.questions_answers .filter h3 {
  margin-bottom: var(--spacing-xxs);
  color: var(--dark-blue);
}

.questions_answers .filter .categoty-country {
  margin-top: var(--spacing-xs);
}

.questions_answers #categories {
  display: none;
}

.qa-btn {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  text-align: left;
  width: 100%;
}

.qa-btn:hover {
  text-decoration: none !important;
}

.qa-btn span {
  font-size: var(--fontSize-h3);
  font-weight: bold;
  margin-right: var(--spacing-xxs);
  color: var(--dark-blue);
}

.questions_answers-grid {
  list-style-type: none;
  padding: var(--spacing-xs) 0 0 var(--spacing-s);
}

.questions_answers-card {
  border-top: 2px solid var(--grey);
  width: fit-content;
  position: relative;
  margin: 0 auto;
  min-width: 300px;
}

.questions_answers-card .text {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
  text-align: left;
}

.questions_answers-btn-wrapper button {
  width: max-content;
}

.questions_answers-card .text button,
.tab-tag-wrapper a {
  background-color: var(--white);
  color: var(--dark-grey);
  border: none;
  margin-right: 5px;
  font-size: var(--fontSize-p);
}

.questions_answers_tab {
  margin-left: 25px;
}

.tab-tag-wrapper {
  display: flex;
  align-items: baseline;
}

.questions_answers-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.questions_answers-flex {
  display: flex;
  flex-direction: column;
}

.questions_answers-selected {
  padding: var(--spacing-m) 0;
}

.questions_answers-redirect {
  display: block;
  width: fit-content;
}

.questions_answers-redirect-content {
  display: flex;
}

.questions_answers-redirect-content img {
  margin-left: var(--spacing-xxs);
  width: 2.5rem;
}

.headline-redirect {
  margin: 10px 10px 10px 0;
}

.filter-tags {
  flex-direction: column;
  display: flex;
}

.questions_answers_tab span,
.tab-tag-wrapper span {
  font-size: var(--fontSize-p);
  color: var(--dark-grey);
  margin-right: 5px;
  font-weight: var(--fontWeight-semibold);
}

.questions_answers-card .text button:hover {
  text-decoration: underline;
}

.questions_answers-card .text h2 {
  font-size: calc(var(--fontSize-h3) + 10%);
}

.questions_answers-card .text h1 {
  font-size: calc(var(--fontSize-h2));
}

.questions_answers-card .text p {
  font-size: var(--fontSize-p-s);
}

.questions_answers-card .text .description {
  font-size: var(--fontSize-p-s);
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
  color: var(--black);
}

.questions_answers-card .read-more {
  position: absolute;
  bottom: var(--spacing-xxs);
  left: var(--spacing-xxs);
}

.categories {
  overflow: auto !important;
}

@media only screen and (max-width: 768px) {
  .questions_answers-grid,
  .questions_answers-content .show-more-btn {
    padding: 0;
  }

  .questions_answers-grid {
    overflow: scroll;
  }

  .countries-filter {
    margin-top: 0;
  }

  .questions_answers-content {
    flex-direction: column;
  }

  .questions_answers form {
    display: block;
  }

  .questions_answers .input {
    margin-left: auto;
    margin-right: auto;
  }

  .questions_answers .filter {
    flex-direction: initial;
    align-items: baseline;
    margin-bottom: var(--spacing-xxs);
  }

  .questions_answers .filter h3 {
    margin-right: var(--spacing-xxs);
  }

  .filter-tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .questions_answers .filter button {
    height: 50px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .questions_answers-grid {
    padding: 0;
  }

  .questions_answers-card .text h2 {
    font-size: var(--fontSize-h3);
  }

  .questions_answers-card .text h1 {
    font-size: calc(var(--fontSize-h2) * 0.8);
  }
  .questions_answers-card .text {
    margin-bottom: var(--spacing-xxs);
  }
  .questions_answers form {
    padding: var(--spacing-xxs) var(--spacing-xs);
    margin: var(--spacing-xs);
    width: auto;
  }

  .filter-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .questions_answers .filter h3 {
    font-size: var(--fontSize-p);
  }

  .questions_answers .filter button {
    margin-right: var(--spacing-xxs);
    font-size: var(--fontSize-p);
  }

  .questions_answers-btn-wrapper button {
    display: none;
  }

  .questions_answers .input {
    padding: var(--spacing-xxs) var(--spacing-xxs);
  }

  .questions_answers .input input {
    padding: 8px 0;
  }
}
