
.quotes-wrapper {
    text-align: center;
    padding-top: var(--spacing-m);
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
  }

.quotes {
    background-color: var(--light-grey);
    padding: var(--spacing-xs);
    text-align: left;
    width: 40%;
    display: inline-block;
}

.quotes-name {
    font-weight: var(--fontWeight-semibold);
}

.right {
    margin-right: var(--spacing-xxs);
}

.bottom {
    margin-top: var(--spacing-xxs);
}

@media screen and (min-width: 1600px) {

    .quotes-wrapper {
        display: flex;
        justify-content: space-around;
      }

    .quotes{
        flex: 1;
    }

    .bottom {
        margin-top: 0;
    }

    .middle {
        margin-right: var(--spacing-xxs);
    }
}

@media screen and (max-width: 1200px) {
    .right {
        margin-right: 0;
    }

    .bottom {
        margin-top: 0;
    }

    .quotes {
        margin-bottom: var(--spacing-xs);
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
 
    .quotes-wrapper {
      padding-right: var(--spacing-m);
      padding-left: var(--spacing-m);
    }

  }
  
  @media screen and (max-width: 600px) {
  
    .quotes-wrapper {
      padding-right: var(--spacing-xs);
      padding-left: var(--spacing-xs);
    }
  
  }