section {
    margin-top: var(--spacing-xs);
}

button {
    line-height: var(--lineHeight);
    color: var(--dark-grey);
    text-decoration: none;
    line-height: var(--lineHeight);
}

button:hover {
    text-decoration: underline;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%
}

.active-btn {
    color: var(--dark-blue);
    text-decoration: underline;
}

.tabs-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: var(--fontSize-h3);
    margin-bottom: var(--spacing-xxs);
}

.tabs-info {
    text-align: left;
    width: 100%;
    padding: var(--spacing-xs);
    background-color: var(--white);
    list-style-type: "— ";
    list-style-position: inside;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 8%);
}

.tabs-info li {
    margin-top: var(--spacing-xxs);
}

.tabs-info :first-child {
    margin-top: 0;
}

@media screen and (max-width: 768px) {

    .tabs {
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    }

    .btn-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        background-color: var(--white);
        padding: var(--spacing-xxs);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        z-index: 2;
    }

    .tabs-btn {
        font-size: var(--fontSize-h3);
        margin-bottom: 0;
    }

    .tabs-info {
        padding: var(--spacing-xxs);
    }

}