.country-landing-main {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.country-landing-main:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 80vh;
    top: inherit;
    left: 0;
    background: rgba(0, 68, 110, 0.5);
}

.country-landing-content {
    z-index: 1;
}

.country-landing-content h1,
.country-landing-content p {
    max-width: 600px;
    color: var(--white);
}

.country-section {
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1600px) {

    .country-landing-main {
        height: 90vh;
    }

    .country-landing-main:after {
        height: 90vh;
    }
}