.facts-stats {
    position: relative;
    align-items: center;
    display: flex;
}

.grey-country {
    background-color: var(--light-grey);
}

.grey-inside-country {
    padding: var(--spacing-m) var(--spacing-l);
}

.facts-stats-img {
    width: 40%;
    margin-left: var(--spacing-s);
}

.imagetext.facts-stats {
    margin-top: 0;
}

.country-inside{
    margin-bottom: var(--spacing-m);
}

.table-top {
    margin-top: -6.25rem;
}

table {
    background-color: var(--white);
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: var(--spacing-xs) var(--spacing-xxs);
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-wrapper td p {
    padding-bottom: var(--spacing-xxs);
}

table td {
    max-width: 100px;
    border: 1px solid #dee2e6;
}

@media screen and (max-width: 1400px) {

    .grey-inside-country {
        padding: var(--spacing-s) var(--spacing-l);
    }

    .table-top {
        margin-top: -3.75rem;
    }

    .country-inside {
        margin-bottom: var(--spacing-s);
    }
}

@media screen and (max-width: 1024px) {
    .imagetext.facts-stats {
        display: flex;
    }

    .imagetext.medium.facts-stats img {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .imagetext.facts-stats {
        display: block;
    }

    .table-top {
        margin-top: -1.75rem;
    }

    .country-inside {
        margin-bottom: 0;
    }

    .imagetext.medium.facts-stats img {
        width: 100%;
        padding-left: var(--spacing-m);
        padding-right: var(--spacing-m);
    }

    td {
        padding: var(--spacing-xxs);
    }

    .grey-inside-country {
        padding-top: var(--spacing-s);
    }
}

@media screen and (max-width: 600px) {
    .imagetext.medium.facts-stats img {
        padding-left: 0;
        padding-right: 0;
    }

    table td {
        max-width: inherit;
    }

    td {
        width: 100%;
        display: inline-block;
    }

    .grey-inside {
        padding: var(--spacing-xs);
    }

    .grey-inside-country {
        padding-top: var(--spacing-s);
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
    }

}