.country-top {
    margin-top: var(--spacing-m);
}

.taxes-second {
    margin-top: var(--spacing-xs);
}

.half,
.taxes p {
    width: 50%;
}

.second-half {
    margin-left: var(--spacing-s);
}

.employing {
    margin-top: var(--spacing-m);
}

.half-text {
    display: flex;
}

.half-text ul {
    list-style: none;
}

.half-text li p::before {
    content: '';
    display: inline-block;
    height: 11px;
    width: 40px;
    background-image: url('../../images/icons/arrow-svg.svg');
    background-repeat: no-repeat;
}

.table-header h2 {
    padding-bottom: var(--spacing-xs);
}

.taxes-table {
    padding-top: var(--spacing-xs);
}

.taxes-p{
    width: 50%;
}

.taxes-table td:first-child {
    width: 60%;
}

.holiday-first td:first-child {
    width: 25%;
}

.taxes-table table td,
.holidays-table table td {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: var(--spacing-xxs);
}

.holidays-table table td {
    border: none;
}

.holiday-first table td {
    border-bottom: 1px solid #dee2e6;
}

.taxes-table p {
    width: 100%;
}

.taxes-table td:last-child {
    padding-left: 0;
    border-bottom: 1px solid var(--dark-blue);
}

.holidays-table td:last-child {
    border-left: 1px solid #dee2e6;
}

.holidays-table {
    margin-bottom: var(--spacing-m);
}

.city-img {
    margin-top: -6.25rem;
    max-height: 450px;
    object-fit: cover;
}

@media screen and (max-width: 1400px) {
    .holidays-table {
        margin-bottom: var(--spacing-s);
    }

    .city-img {
        margin-top: -3.75rem;
    }
}

@media screen and (max-width: 768px) {

    .holidays-table {
        margin-bottom: 0;
    }

    .city-img {
        margin-top: -1.75rem;
    }

    .taxes-p{
        width: 100%;
    }

    .half,
    .taxes p {
        width: 100%;
    }

    .half {
        margin-bottom: var(--spacing-xs);
    }

    .country-top {
        margin-top: var(--spacing-s);
    }

    .taxes-table td:first-child {
        width: 50%;
    }

    .half-text {
        display: block;
    }

    .second-half {
        margin-left: 0;
    }
}



@media screen and (max-width: 600px) {

    .taxes-content tr td:nth-child(1) {
        display: none;
    }

    .taxes-table td:first-child {
        width: 100%;
    }

    .holiday-first td:first-child {
        width: 40%;
    }

    .holiday-first td {
        display: revert;
    }

    .taxes-table td:last-child {
        padding-left: var(--spacing-xxs);
    }

    .holidays-table td h3:last-child {
        padding-top: var(--spacing-xxs);
        border-top: 1px solid #dee2e6;
    }

    .holidays-table td:last-child {
        border-left: none;
    }

    .holidays-table table td:first-child {
        padding-bottom: 0;
        padding-top: 0;
    }

    .holiday-first table td:first-child {
        padding: var(--spacing-xxs);
    }
}