@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --spacing-xxl: 19.5rem;
  /* 310px - Padding on side for medium wide section */
  --spacing-xl: 13.125rem;
  /* 210px - Padding on side for wide section */
  --spacing-l: 8.125rem;
  /* 130px - Spacing between each section vertically */
  --spacing-m: 6.25rem;
  /* 100px - Padding on top and bottom for grey section */
  --spacing-s: 3.75rem;
  /* 60px - Padding on top and bottom of footer and sections that goes together */
  --spacing-xs: 2.1875rem;
  /* 35px - Spacing between content in sections */
  --spacing-xxs: 0.9375rem;
  /* 15px - Padding top and bottom on navbar */

  --font: "Poppins", sans-serif;
  --fontWeight-normal: 400;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;

  --lineHeight-large: 2;
  --lineHeight: 1.6;
  --fontSize-root: 16px;
  --fontSize-h1: 3rem;
  --fontSize-h2: 2.2rem;
  --fontSize-h3: 1.325rem;
  --fontSize-p: 1.2rem;
  --fontSize-p-s: 0.975rem;
  --fontSize-p-xs: 0.825rem;

  --black: #000000;
  --white: #ffffff;
  --dark-grey: #4e4e4e;
  --grey: #ececec;
  --light-grey: #f6f6f6;
  --dark-blue: #00446e;
  --light-blue: #81aecc;
  --lighter-blue: rgba(81, 133, 168, 0.9);
}

html {
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-weight: var(--fontWeight-bold);
  color: var(--black);
  line-height: 1.2;
}

p,
li,
a {
  line-height: var(--lineHeight);
  color: var(--dark-grey);
  text-decoration: none;
}

a {
  padding: 0;
  position: relative;
}

a::before {
  padding: 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--dark-grey);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.white-link::before {
  background-color: var(--white);
}

.anchorlink::before {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

h1 {
  font-size: var(--fontSize-h1);
}

h2 {
  font-size: var(--fontSize-h2);
}

h3 {
  font-size: var(--fontSize-h3);
}

p,
a {
  font-size: var(--fontSize-p);
}

a,
button {
  cursor: pointer;
}

.error-page a {
  padding: 10px 20px;
}

.cta-btn {
  font-size: inherit !important;
  border: 2px solid var(--dark-blue);
  border-radius: 100rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cta-btn-button {
  padding: 10px 20px;
}

.cta-btn a {
  display: block;
  padding: 10px 20px;
  color: var(--white);
}

.cta-btn a::before {
  display: none;
}

.cta-btn::after {
  content: "";
  background: var(--white);
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  color: var(--dark-blue) !important;
}

.cta-btn:hover::after {
  background: var(--white);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
  color: var(--dark-blue);
}

.cta-btn:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

.cta-btn a:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

main {
  margin-top: 121px;
}

main > :first-child {
  margin-top: 0;
}

main > section {
  margin-top: var(--spacing-m);
}

section.error-page {
  padding: var(--spacing-l) var(--spacing-xl);
}

section.error-page > * {
  margin-bottom: var(--spacing-xs);
}

.section > div:first-of-type {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

.clients {
  filter: grayscale(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  margin-top: var(--spacing-m) !important;
}

.clients:last-child {
  margin-top: var(--spacing-m);
}

.clients img {
  width: 10%;
}

.howitworks {
  padding-top: var(--spacing-m);
  text-align: center;
}

.section-top {
  margin-top: var(--spacing-m);
}

.header-text {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-text h2 {
  margin-bottom: var(--spacing-xs);
}

.header-text p {
  max-width: 800px;
}

@media screen and (max-width: 1600px) {
  main {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1440px) {
  .section > div:first-of-type {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .clients:first-child {
    margin-top: var(--spacing-m);
  }
}

@media screen and (max-width: 1200px) {
  .hide-mobile,
  .clients {
    display: none;
  }

  main {
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--fontSize-h2);
  }

  p,
  a,
  .menu-link {
    font-size: var(--fontSize-p-s);
  }

  main > section {
    margin-top: var(--spacing-s);
  }

  section.error-page {
    padding: var(--spacing-m);
  }

  .section-top {
    margin-top: var(--spacing-s);
  }
}

@media screen and (max-width: 600px) {
  section.error-page {
    padding: var(--spacing-s);
  }

  main > section {
    padding-top: 0;
  }
}

.bg-light-blue {
  margin-top: var(--spacing-m);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  background-color: var(--lighter-blue);
}

.bg-light-blue .imagetext {
  margin-top: 0;
}

.bg-light-blue .imagetext h2,
.bg-light-blue .imagetext p {
  color: var(--white);
}

.margin-top-none {
  margin-top: 0 !important;
}

.bg-light-blue .white {
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .margin-top-none-sm {
    margin-top: 0 !important;
  }
}
